<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title and page.title != "" %}{{ page.title }} - {{ site.name }} {% else %} {{ site.name }} – {{ site.subtitle }}{% endif %}</title>
    <link rel="manifest" href="/manifest.json">    
    {% seo title=false %}
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.subtitle }}" href="{{ site.baseurl }}/feed.xml" />
    <meta name="theme-color" content="#000000">
    <link rel="apple-touch-icon" href="/images/touch/chrome-touch-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a title="Site Avatar" href="{{ site.baseurl }}" class="site-avatar"><img alt="Paras Nath Chaudhary" src="/images/paras.jpg" /></a>

            <div class="site-info">
              <p class="site-name"><a title="Site name: Paras Nath" href="{{ site.baseurl }}">{{ site.name }}</a></p>
              <p class="site-description">{{ site.subtitle }}</p> 
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>              
              <a href="{{ site.baseurl }}/search">Search</a>
              <a href="{{ site.baseurl }}/subscribe">Subscribe</a>
              <a href="/">About</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>
    <div class="gdpr hide">
        We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.
        <br /><br />
        <a class="btn" href="javascript:acceptGdpr()">Ok</a>
        <a class="btn" href="javascript:rejectGdpr()">No</a>
        <a class="btn" href="/blog/privacy-policy/">Privacy Policy</a>
    </div>
    {% include analytics.html %}    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.28/webfontloader.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>
    <script>
      function setCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        function eraseCookie(name) {   
            document.cookie = name+'=; Max-Age=-99999999;';  
        }
        function acceptGdpr(){
            setCookie('cookie_notice_accepted','true',7);
            $('.gdpr').hide();
        }
        function rejectGdpr(){
            setCookie('cookie_notice_accepted','false',7);
            $('.gdpr').hide();
        }
        $(document).ready(function(){
          var cookie_notice_accepted = getCookie('cookie_notice_accepted');
          if(cookie_notice_accepted=='false'){
              $('.gdpr').hide();
          }else if(cookie_notice_accepted == "true"){
              $('.gdpr').hide();
          }else{
              $('.gdpr').show();
          }
        });

      WebFont.load({
          google: {
          families: ['Roboto']
          }
      });
      if('serviceWorker' in navigator) {
        navigator.serviceWorker
           .register('/service-worker.js')
           .then(function() { 
               //console.log("Service Worker Registered"); 
        });
    }
    </script>
  </body>
</html>
