* {
  margin: 0;
  padding: 0;
}

#main-content {
  margin-top: 48px;
}

#player {
  width: 100%;
}

.thumbnail {
  width: 120px;
}

#side-banner {
  width: 100%;
}

#tab-menu {
  width: 100%;
}

#media-menu .btn {
  border-radius: 20px;
  margin: 4px;
}

table {
  border-spacing: 0 2px;
  border-collapse: collapse;
}

.active, .active.svg path {
  fill: #fafafa;
  color: #fafafa;
  background-color: #7acc42;
}

.search {
  width: 240px;
}

.search input {
  border-radius: 20px;
}

.search #addon-wrapping {
  background-color: #424242;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search .fa-search {
  color: #7acc42;
}

#live-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#live-container img, #live-container #live-stats {
  width: 49%;
}

#live-stats {
  padding: 8px;
  border: 1px solid #7acc42;
  margin-left: 2px;
}

#live-stats h2 {
  font-size: 14px;
  background: white;
  width: 145px;
  margin: -40px auto auto auto;
  padding: 0px 8px;
  text-align: center;
  color: #7acc42;
}

#logout {
  padding: 4px 8px;
  border-radius: 20px;
}

#side-poster {
  margin-top: 10px;
}

#social-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#social-links li {
  margin: 2px 0px;
}

#social-links li a img {
  width: 100%;
}

#accordionExample .btn {
  padding: 0px;
  color: #424242;
}

#accordionExample ul {
  list-style: none;
}

#accordionExample ul li a, #accordionExample .btn-link {
  text-decoration: none;
}

.fa-xs {
  font-size: 1rem;
}

#accordionExample h2 {
  -webkit-box-shadow: 2px 1px 2px #d5d5d5;
          box-shadow: 2px 1px 2px #d5d5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
}

#accordionExample h2 button {
  font-weight: 900;
}

.svg {
  width: 24px;
  height: 24px;
}

#accordionExample ul li, #left-dynamic-panel ul li {
  margin-top: 4px;
  -webkit-box-shadow: 2px 1px 2px #d5d5d5;
          box-shadow: 2px 1px 2px #d5d5d5;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#accordionExample ul li a {
  color: #424242;
}

#left-dynamic-panel ul li a {
  text-decoration: none;
}

#left-dynamic-panel li a {
  color: #424242;
}

#accordionExample ul li:hover, #accordionExample ul li:hover a, #accordionExample ul li:hover .fas,
#left-dynamic-panel li:hover, #left-dynamic-panel li:hover a {
  background-color: #7acc42;
  color: #fafafa;
}

#accordionExample ul li .fas {
  color: #7acc42;
}

#share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#share a {
  margin: 2px 2px;
}

#playing ul li {
  list-style: none;
  margin: 4px 0px;
}

#play-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#play-status > div {
  padding: 8px;
  background-color: #7acc42;
  color: #424242;
  margin: 2px 4px;
  font-size: 42px;
  font-weight: 900;
}

#accordionExample .month li, #accordionExample ul.days li, #accordionExample ul.weekdays li {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.month {
  padding: 20px 25px;
  width: 100%;
  background: #91b946;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
  background-color: #f9f3f3;
  border-bottom: black solid 1px;
}

.weekdays li {
  display: inline-block;
  width: 11.6%;
  color: #f44336;
  text-align: center;
}

/* Days (1-31) */
.days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
  background: #f9f3f3;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #91b946;
  border-radius: 50px;
  color: white !important;
}
/*# sourceMappingURL=style.css.map */