*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}
@font-face {
  font-family: initial;
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.container{
    display: inline-block;
}
h1, h2{
    text-align: left;
}
nav{
    height: 120vh;
    width:160px;
    position: fixed;
    background: #0069c0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 32px 0px;
    text-align: center;
}
main{
    margin-left: 160px;    
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.25;
}
section{
    min-height: 100vh;    
    display: flex;
    flex-direction: column;        
    justify-content: center;
    overflow: hidden;
    /*align-items: center;*/
}
section div{
    padding: 0px 32px;
}
section h1,section h2{
    display: flex;
    align-items: center;
    height: 42px;
    margin-top: 64px;
    padding-left: 32px
}
section p, section ul{
    margin-top: 24px;
    padding: 0px 32px;   
}
section ul li{
    margin: 8px 4px;
    line-height: 1.5em;
}
section p{
    display: flex;
    align-items: center;
}
section h2{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    /*border-bottom: 1px solid grey;*/
}
section:nth-child(odd){
    background-color: #2196F3;    
}
section:nth-child(odd) p, section:nth-child(odd) h2, section:nth-child(odd) h3, section:nth-child(even) h4, section:nth-child(odd) ul li{
    color: white;
}
section:nth-child(odd) h2{
    width: 100%;
    background: #2196F3;
}
section:nth-child(even){
    background-color: white;
    color: #2196F3;
}
section:nth-child(even) p, section:nth-child(even) h2, section:nth-child(even) h3, section:nth-child(even) h4, section:nth-child(even) ul li, section:nth-child(even) a, section:nth-child(even) span{    
    color: #2196F3;
}
section:nth-child(even) h2{
    width: 100%;
    background: white;
}
#summary{
    display: block;
    line-height: 1.5;
}
nav > img{
    width: 114px;
    height: 114px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 3px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px darkolivegreen
}
nav ul li{
    list-style: none;
    margin: 10px 0px;        
}
nav ul li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
section ul li div{
    padding: 0px;
}
#experiences,#portfolio, #testimonials, #awards-and-certifications, #education, #skills, #services, #publications{
    width: 100%;
}
#services img{
    width:80px;
    align-self: center;
    padding-top: 8px;
    margin-bottom: 16px;
    filter: invert(1);
}
#awards-and-certifications h3{
    padding: 0px 0px;
    margin-top: 20px;
    margin-bottom: -16px;
}
#techstack{
    width: 75%;
    margin:auto;
    text-align: center;
}
#techstack li{
    display:inline-block;
    margin: 1rem;
    color: white;
}
#techstack li img{
    height: 3rem;
    width: auto;
}
#publications p{
    font-size: 12px;
    color: gray;
    margin-top: 0;
}
#what-i-do{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 8px;    
    border-radius: 8px;    
    background-color: #1da1f2;
    padding: 8px;
    max-width: 44%;
}
.service h3, .service p{
    color: white !important;
}
#footer{
    min-height: 200px !important;
    max-height: 300px !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Social Links*/
.social{
    position:relative;
    list-style: none;
    display: flex;
    flex-direction: row;
}
svg{
    height: 24px;
    width: 24px;
    fill: white;
}
.twitter:hover svg{
    fill: #1da1f2;
}
.github:hover svg{
    fill: #333;
}
.facebook:hover svg{
    fill: #3b5998;
}
.instagram:hover svg{
    fill: #e1306c;
}
#promo{
    height: auto;
    width: 114px;
    float: right;
    position: relative;
    top: 20px;
    right: 10px;
    background: white;
    border-radius: 12px;
    padding: 8px;
}
#cta a{
    margin-top: 12px;
    margin-left: 8px;
}
#recent-posts{
    display: flex;
    flex-direction: column;
    padding: 0;   
    margin-top: 8px;     
}
#recent-posts div{
    margin-bottom: 12px;
}
#recent-posts p{
    font-size: 0.9em;
    margin: 0;
    margin-top: 4px;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    *{
        text-align: center;
    }
    h1{
        display: inline !important;
        text-align: center;
    }
    h2{
        padding: 0px !important;
        margin: 0px !important;
        justify-content: center;
    }
    p{
        justify-content: center;
    }
  nav {
    display: none;
  }
  main{
    margin: 0px 0px;
  }
  .social{
      justify-content: center;
  }
    .social li{
        margin: 8px !important;
    }
    svg{
    height: 36px;
    width: 36px;
    fill: white;
}
  #promo{
    height: auto;
    width: 114px;
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
    background: white;
    border-radius: 12px;
    padding: 8px;
  }
  #cta {
      display: flex;
      flex-direction: column;
  }
  #cta a{
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px !important;    
  }
  .service{
      max-width: 100%;
  }
}

